[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "==1.1.*"
Flask-Caching = "~=1.9"
cachetools = "~=4.0"
email-validator = "~=1.1"  # Para pydantic.NameEmail
gspread = "==3.1.*"
google-auth = "~=1.16"
pydantic = "~=1.5"
python-dotenv = "==0.13.*"
pyyaml = "~=5.3"
requests = "~=2.23"

[dev-packages]

[requires]
python_version = "3.8"
