Flask==1.1.*
Flask-Caching==1.*
cachetools==4.*
cryptography==3.*
email-validator==1.*  # Para pydantic.NameEmail
GitPython==3.*
google-api-python-client==1.*
google-auth==1.*
oauth2client==4.1.*
pydantic==1.*
PyGithub==1.*,>=1.54
python-dotenv==0.13.*
pyyaml==5.*
requests==2.*
rq==1.*
