{% extends "base.html" %}
{% block content %}

{% if test %}
  <div class="alert alert-warning" role="alert">
    <strong>Versión de prueba:</strong> No se enviará ningún e-mail.
  </div>
{% endif %}

<p class="lead">
Cada entrega quedará registrada.
</p>

<form class="form-horizontal" role="form" method="post" enctype="multipart/form-data">
  {% if alert %}<div class="alert alert-danger">{{ alert }}</div>{% endif %}

  <div class="form-group" id="fg_tp">
    <label for="tp" class="col-xs-2 control-label">Entrega:</label>
    <div class="col-xs-4">
      <select class="form-control" name="tp" id="tp" value="">
        <option style="display:none" selected value></option>
        {% for tp in entregas|reverse %}
          <option value="{{tp}}">{{tp}}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  <div class="form-group" id="fg_identificador">
    <label for="identificador" class="col-xs-2 control-label">Identificador:</label>
    <div class="col-xs-4">
      <div class="input-group">
        <input type="text" class="form-control" name="identificador" id="identificador" value="" placeholder="Identificador">
        <span class="input-group-addon"></span>
      </div>
      <p class="help-block">
      </p>
    </div>
  </div>
  <div class="form-group" id="fg_adjuntos">
    <label for="file0" class="col-xs-2 control-label">Adjunto:</label>
    <div class="col-xs-4">
      <div id="files">
      <div class="input-group">
        <label class="input-group-btn">
          <span class="btn btn-default">
          <span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
          <input type="file" style="display: none;" name="files">
          </span>
        </label>
        <input type="text" class="form-control filename" readonly>
      </div>
      </div>
      <p class="help-block">
        Formatos aceptados: <code>.zip</code>
      </p>
    </div>
  </div>
  <div class="form-group" id="fg_body">
    <label for="body" class="col-xs-2 control-label">Mensaje (opcional):</label>
    <div class="col-xs-4">
      <textarea class="form-control" name="body" id="body"></textarea>
      <span class="help-block">Cualquier aclaración de utilidad para el corrector.</span>
    </div>
  </div>
  <div class="form-group">
    <div class="col-xs-2"></div>
    <div class="col-xs-4">
      <div class="g-recaptcha" data-sitekey="{{ recaptcha_site_id }}"></div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-xs-2"></div>
    <div class="col-xs-4">
      <button disabled type="submit" id="submit" class="btn btn-primary btn-lg">Enviar entrega</button>
    </div>
  </div>
</form>

<script>
document.addEventListener("DOMContentLoaded", function() {
  $('#tp').on('input', validate);
  $('#identificador').on('input', validate);
  $('#files').find('input[type="file"]').on('change', setFile);
});

var correctores = JSON.parse('{{correctores_json|safe}}');
var entregas = JSON.parse('{{entregas_json|safe}}');

function invert(dict) {
    var res = {};
    var ks = Object.keys(dict);
    for (var i = 0; i < ks.length; i++) {
        var xs = dict[ks[i]];
        for (var j = 0; j < xs.length; j++) {
            res[xs[j]] = ks[i];
        }
    }
    return res;
}

function setFile() {
  var filename = $(this).val().replace(/\\/g, '/').replace(/.*\//, '');
  var inputGroup = $(this).closest('.input-group');
  inputGroup.find('.filename').val(filename);
  validate();
}

function clone(prefix, container) {
  var id = prefix + $(container).children().length;
  var newInput = $(container).children().last().clone();
  newInput.val('');
  newInput.attr('id', id);
  newInput.attr('name', prefix);
  newInput.appendTo($(container))
}

function validate() {
  var tp = validateTP();
  var padronValid = validatePadron(tp);
  var filesValid = validateFiles();
  var valid = !!tp && padronValid && filesValid;
  $('#submit').prop('disabled', !valid);
}

function validateTP() {
  var tp = validateAlNum($('#tp'));
  var valid = tp in entregas;
  $('#tp').parent().toggleClass('has-success', valid);

  if (!valid) {
    return tp;
  }

  if (entregas[tp] === 'i') { // individual
    $('#fg_identificador label').html('Padrón:');
    $('#fg_identificador .help-block').html('Número de padrón');
    $('#identificador').attr('placeholder', 'Padrón');
  } else { // grupal
    $('#fg_identificador label').html('Padrón o grupo:');
    $('#fg_identificador .help-block').html('Número de padrón o identificador del grupo (ejemplo: "G04")');
    $('#identificador').attr('placeholder', 'Padrón o número de grupo');
  }

  return tp;
}

function validatePadron(tp) {
  var input = $('#identificador');
  var padron = validateAlNum(input);

  if(!padron) {
    input.parent().find('span').html('');
    input.parent().toggleClass('has-success', false);
    return false;
  }

  var valid = false;
  var corrector = null;

  // Si la entrega es grupal, pero el identificador no es un grupo, el alumno entrega solo.
  // Se corrige el padron para incluir 'g', y que el corrector que se muestre sea el correcto.
  if (entregas[tp] === 'g' && !(padron.includes('G')) ){
    padron = 'g' + padron
  }

  if (padron in correctores && correctores[padron]) {
    corrector = correctores[padron];
    valid = true;
  }

  input.parent().find('span').html(corrector ? '<b>Corrector:</b> ' + corrector : '');
  input.parent().toggleClass('has-success', !!corrector);

  if(!valid && padron in correctores) {
    // Aún no tiene un corrector asignado.
    input.parent().find('span').html('<b>Identificador válido</b>');
    input.parent().toggleClass('has-success', true);
    valid = true;
  }

  return valid;
}

function validateFiles() {
  var valid = false;
  $('#files').find('input[type="file"]').each(function () {
    var thisValid = !!($(this).val());
    valid = valid || thisValid;
    $(this).closest('.input-group').toggleClass('has-success', thisValid);
  });
  return valid;
}

function validateAlNum(el) {
  if (el.length === 0) {
    return false;
  }
  var value = el.val().trim();
  var valid = /^[\d\w]+$/.test(value);
  return valid ? value : false;
}
</script>
{% endblock %}
