{% extends "base.html" %}
{% block content %}

<p class="lead">
Cada entrega quedará registrada y le llegará a tu corrector asignado.
</p>

<form class="form-horizontal" role="form" method="post" enctype="multipart/form-data">
  {% if alert %}<div class="alert alert-danger">{{ alert }}</div>{% endif %}

  <div class="form-group" id="fg_tp">
    <label for="tp" class="col-xs-2 control-label">Entrega:</label>
    <div class="col-xs-4">
      <input type="text" class="form-control upper" name="tp" id="tp" value="">
      <span id="helpBlock" class="help-block">Ejemplos: TP1, TP2, EJ1, etc</span>
    </div>
  </div>
  <div class="form-group" id="fg_integrantes">
    <label for="padron0" class="col-xs-2 control-label">Integrantes:</label>
    <div class="col-xs-4">
      <div id="padrones">
      </div>
      <button type="button" class="btn btn-default btn-xs btn-block" id="add_padron" aria-label="Agregar integrante">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      </button>
      <span id="helpBlock" class="help-block">Número de padrón o legajo</span>
    </div>
  </div>
  <div class="form-group" id="fg_adjuntos">
    <label for="file0" class="col-xs-2 control-label">Adjuntos:</label>
    <div class="col-xs-4">
      <div id="files">
      </div>
      <button type="button" class="btn btn-default btn-xs btn-block" id="add_file" aria-label="Agregar adjunto">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      </button>
      <p class="help-block">
        Formatos aceptados:
        <ul>
          <li><b>Informe:</b> <code>.pdf</code>, <code>.txt</code>
          <li><b>Código:</b> <code>.zip</code>, <code>.py</code>
        </ul>
      </p>
    </div>
  </div>
  <div class="form-group" id="fg_body">
    <label for="body" class="col-xs-2 control-label">Mensaje (opcional):</label>
    <div class="col-xs-4">
      <textarea class="form-control" name="body" id="body"></textarea>
      <span id="helpBlock" class="help-block">Cualquier aclaración de utilidad para el corrector</span>
    </div>
  </div>
  <div class="form-group">
    <div class="col-xs-2"></div>
    <div class="col-xs-4">
      <button disabled type="submit" id="submit" class="btn btn-primary btn-lg">Enviar entrega</button>
    </div>
  </div>
</form>

<script>
document.addEventListener("DOMContentLoaded", function() {
  $('#tp').on('input', validate);
  $(document).on('input', '#padrones input', validate);

  addPadronInput();
  $('#add_padron').on('click', addPadronInput);

  addFileInput();
  $('#add_file').on('click', addFileInput);
  $(document).on('click', '.rm_file', rmFileInput);
});

var alumnos = JSON.parse('{{alumnos|safe}}');

function addFileInput() {
  var inputGroup = $([
    '<div class="input-group">',
      '<label class="input-group-btn">',
        '<span class="btn btn-default">',
          '<span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>',
          '<input type="file" style="display: none;" name="files">',
        '</span>',
      '</label>',
      '<input type="text" class="form-control filename" readonly>',
      '<span class="input-group-btn">',
        '<button class="btn btn-default rm_file" type="button">',
          '<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>',
        '</button>',
      '</span>',
    '</div>'
  ].join(''));
  $('#files').append(inputGroup);
  $(inputGroup).find('input[type="file"]').on('change', setFile);
}

function rmFileInput() {
  $(this).closest('.input-group').remove();
}

function addPadronInput() {
  $('#padrones').append([
    '<div class="input-group">',
      '<input type="text" class="form-control" name="padron" id="padron0" value="" placeholder="Padrón">',
      '<span class="input-group-addon"></span>',
    '</div>'
  ].join(''))
}

function setFile() {
  var filename = $(this).val().replace(/\\/g, '/').replace(/.*\//, '');
  var inputGroup = $(this).closest('.input-group');
  inputGroup.find('.filename').val(filename);
  validate();
}

function getFilenames() {
  return $('#files').find('input[type="file"]')
    .map(function () { return $(this).val() }).get();
}

function clone(prefix, container) {
  var id = prefix + $(container).children().length;
  var newInput = $(container).children().last().clone();
  newInput.val('');
  newInput.attr('id', id);
  newInput.attr('name', prefix);
  newInput.appendTo($(container))
}

function validate() {
  var tp = validateTP();
  var padronesValid = validatePadrones(tp);
  var filesValid = validateFiles();
  var valid = !!tp && padronesValid && filesValid;
  $('#submit').prop('disabled', !valid);
}

function validateTP() {
  var tp = validateAlNum($('#tp'), $('#fg_tp'));
  var valid = Object.values(alumnos)
    .filter(function (tps) {return !(tp in tps)})
    .length === 0;
  $('#tp').parent().toggleClass('has-success', valid);
  return tp;
}

function validatePadrones(tp) {
  var padrones = [];
  $('#padrones').find('input').each(function(i) {
    var el = $(this);
    var padron = null;
    if (el.val()) {
      padron = validateAlNum(el);
      if (padron) {
        padrones.push(padron);
      }
    }
    var corrector = null;
    if (padron && padron in alumnos && tp in alumnos[padron]) {
      corrector = alumnos[padron][tp];
    }
    el.parent().find('span').html(corrector ? '<b>Corrector:</b> ' + corrector : '');
    el.parent().toggleClass('has-success', !!corrector);
  });
  return padrones.length > 0;
}

function validateFiles() {
  var valid = false;
  $('#files').find('input[type="file"]').each(function () {
    var thisValid = !!($(this).val());
    valid = valid || thisValid;
    $(this).closest('.input-group').toggleClass('has-success', thisValid);
  });
  return valid;
}

function validateAlNum(el, formGoup) {
  if (el.length === 0) {
    return false;
  }
  var value = el.val().trim().toUpperCase();
  var valid = /^[\d\w]+$/.test(value);
  return valid ? value : false;
}
</script>
{% endblock %}
